.ProductCard {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  overflow: hidden;

  width: 100%;
  border-radius: 18px;
  background: var(--color-bg-secondary);
}

.ImageContainer {
  position: relative;

  width: 100%;
  aspect-ratio: 1 / 1;
  border-radius: 14px;
}

.Image {
  object-fit: cover;
  border-radius: inherit;
}

.SaveButtonContainer {
  position: absolute;
  top: 8px;
  right: 8px;
}

.Footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 8px;
}

.Info {
  display: flex;
  /* flex-direction: column;
  row-gap: 4px; */
  justify-content: space-between;

  padding-inline: 6px;
}

.Title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 18px;
  font-weight: bold;
}

.Price {
  display: flex;
  column-gap: 4px;
  color: var(--color-text);
  align-items: center;
}

.ButtonContainer {
  padding: 6px;
}
