.CartItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  border-radius: 14px;
  background: var(--color-bg-secondary);
}

.Info {
  display: flex;
  align-items: center;
  column-gap: 12px;
}

.Image {
  border-radius: 8px;
}

.Title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 18px;
  font-weight: bold;
}

.Price {
  display: flex;
  column-gap: 4px;
  color: var(--color-text);
  align-items: center;
}

.RemoveButton {
  border-radius: 50%;
  /* background: color-mix(in srgb, var(--color-bg-primary) 50%, transparent); */

  color: var(--color-desctructive);

  svg {
    width: 24px;
    height: 24px;
  }
}
