.TransactionCard {
  display: flex;
  column-gap: 16px;

  background: var(--color-bg-secondary);
  padding: 12px;
  border-radius: 14px;
}

.Icon {
  width: 50px;
  height: 50px;

  background: var(--color-link);
  border-radius: 12px;
}

.Info {
  display: flex;
  justify-content: space-between;
  align-items: center;

  flex-grow: 1;
}

.Title {
  font-weight: bold;
}

.Date {
  font-size: 14px;
  color: var(--color-hint);
}

.Tokens {
  display: flex;
  align-items: center;
  column-gap: 4px;
}

.Value {
  display: flex;
  column-gap: 2px;
}

.Value_receive {
  color: var(--color-positive);
}

.Value_send {
  color: var(--color-desctructive);
}
