.NavigationMenu {
  padding: 8px;
  /* border-radius: 16px; */
  /* border-top: 1.5px solid var(--tg-theme-bg-color); */
  background: var(--tg-theme-secondary-bg-color);
  box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 4px;
}

.MenuItemLink {
  position: absolute;
  inset: 0;
}
