.NavItemLink {
  position: absolute;
  inset: 0;
}

.NavigationItem {
}

.NavigationItem.NavigationItem_active {
  color: var(--tg-theme-hint-color);
}

.Badge {
  position: absolute;
  top: 0px;
  right: 10%;
}
